.dailyactivities-container {
  background-color: #f7f7f7;
  /*height: 320px;*/
  padding-left: 32px;
  border-radius: 5px;
  border: 1px solid #e9e9e9;
  /*display: flex;*/
  /*flex: 1 1 100%;*/
}

.recharts-bar .recharts-bar-rectangle .recharts-rectangle:hover {
  fill: red;
}

.dailyactivities-tooltip {
  background-color: "#E60000";
  outline: "none";
  border: "none";
  display: "flex";
  flex-direction: "column";
  font-size: 8px;
  margin: 6px 12px;
}

.dailyactivities-tooltip p {
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #fff;
}
