.greetingsContainer {
  flex: 1 1 100%;
}

.greetingsContainer span {
  color: red;
}

.hello {
  font-size: 3rem;
  font-weight: 500;
}

.congrats {
  font-size: 18px;
  font-weight: 400;
  margin-top: 1.25rem;
}
