.vmenu-icon {
  height: 64px;
  width: 64px;
  border-radius: 6px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1330px) {
  .vmenu-icon {
    height: 48px;
    width: 48px;
  }
}
