#root {
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
}

main {
  width: 100%;
  background-color: #fff; /* #eaeaea */
  display: flex;
  min-height: calc(100vh - 88px);
  max-height: 100vh;
}

.main-section {
  width: 100%;
  display: flex;
  color: black;
  flex-direction: column;
  /*background-color: #fff;*/
  padding: 68px 106px;
}

.graphsnNutriDatas-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.graphs-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
