#root {
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
}

main {
  width: 100%;
  background-color: #fff; /* #eaeaea */
  display: flex;
}

.main-section {
  /*width: calc(100% - 118px);*/
  display: flex;
  color: black;
  flex-direction: column;
  padding: 48px 90px 68px 90px;
  flex: 1 1 calc(100% - 118px);
  min-width: 0;
}

.graphsnNutriDatas-container {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  margin-top: 40px;
  flex: 1 1 100%;
  /*flex-wrap: wrap;*/
}

.graphs-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  max-width: 892px;
  min-width: 0;
}

.graphsquares-container {
  margin-top: 33px;
  display: flex;
  flex-direction: row;
  column-gap: 32px;
  height: 263px;
}
